<?xml version="1.0"?>
<launch>
   <arg name="input_bag"/>
   <arg name="output_bag"/>
   <include file="$(find annotation_recorder)/launch/annotation_recorder_float_debug.launch">
      <arg name="input_bag" value="$(arg input_bag)"/>
      <arg name="output_bag" value="$(arg output_bag)"/>
   </include>
</launch>
