<?xml version="1.0"?>
<launch>
   <!--<include file="$(find game_audio_video)/launch/game_audio_video.launch"/>-->
   <include file="$(find game_audio_video)/launch/game_audio_video_playback.launch"/>
   <include file="$(find player_eeg)/launch/player_eeg.launch"/>
   <include file="$(find player_video)/launch/player_video.launch"/>
</launch>
