<?xml version="1.0"?>
<launch>
   <!--<include file="$(find game_audio_video)/launch/game_audio_video.launch"/>-->
   <include file="$(find game_audio_video)/launch/game_audio_video_playback.launch"/>
   <include file="$(find player_input)/launch/player_input.launch"/>
   <include file="$(find player_app_activity)/launch/player_app_activity.launch"/>
   <include file="$(find player_video)/launch/player_video.launch"/>
   <include file="$(find player_video_overhead)/launch/player_video_overhead.launch"/>
   <include file="$(find player_eye_tracking)/launch/player_eye_tracking.launch"/>
   <include file="$(find data_visualizer)/launch/eye_position_visualizer.launch"/>
   <include file="$(find data_visualizer)/launch/player_input_visualizer.launch"/>
   <include file="$(find player_eeg)/launch/player_eeg.launch"/>
   <include file="$(find valid_stream)/launch/valid_stream.launch"/>
</launch>
